* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family:arial;
}

.title_container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:50px;	
}
.title_container h1{
  font-size:68px;
}

.title_container h1 span{
  font-size:8	8px;
  font-family:chiller;
  color:#f5b642;
}

.start_container{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:0px;
  flex-direction:column;
}

.players_name{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
  margin-top:20px;
}

.players_name input{
  width:100px;
  height:50px;
  font-size:40px;
  text-align:center;
  border-radius:5px;
}

#start-btn {
  padding:8px 17px;
  font-size: 30px;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #f5b642;
  background-color: Transparent;
  border:5px Solid #f5b642;
}
.box:hover{
 background-color:#f5b642;
 color:White;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #f5b642;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}